{% extends 'page.twig' %}

{% block header %}
    <div class="ml-auto col-md-8 mr-auto">
	<h1>Page not found!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
                <p>Sorry, there is no such page as "{{page}}".</p>
                <p><a href="{{base}}/">Click here to return home</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
